/prog-venv
# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать временные файлы
*.log
*.tmp
*.temp

# Игнорировать директории сборки
/build/
/dist/

# Игнорировать зависимости
/node_modules/
/venv/

# Игнорировать файлы конфигурации
*.env
*.local

# Игнорировать файлы IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Игнорировать скомпилированные файлы
*.pyc
*.class
*.o
*.exe

# Игнорировать файлы изображений
*.png
*.jpg
*.jpeg
*.gif